<div class="row">
    <nav>
        <div class="nav-wrapper blue darken-3">
            <a ui-sref="dashboard" class="brand-logo">Bucket List</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>Welcome {{ username }}</li>
                <li><a ui-sref="logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="container">
                <h5 class="center">Create New Bucketlist item</h5>
                <form id="bucket_form" class="col s12" ng-submit="createBucketItem(
                {
                    name: newitem.name, 
                    bucketlist:BucketlistItem.id,
                    bid:BucketlistItem.id
                })">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col s12">
                                    <input type="text" required placeholder="Bucketlist Item name" ng-model="newitem.name" class="col s10">
                                    <button class="btn blue darken-3 col s2" type="submit">
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col s12 m6 l4" data-ng-repeat="item in BucketlistItem.items">
            <div class="card">
                <div class="card-content">
                    <a class="card-title activator">
                        {{ item.name }}
                    </a>
                </div>
                <div class="card-action">
                    <a class="activator left"><i class="material-icons right">more_vert</i></span></a>
                    <a ng-click="openItemModal(BucketlistItem.id, item.id)">
                        <i class="material-icons">edit</i>
                    </a>
                    <a ng-click="deleteItem({id:item.id, bid:BucketlistItem.id})"><i class="material-icons">delete</i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        {{ item.name }}
                        <i class="material-icons right">close</i>
                    </span>
                    <time>Date Created: {{bucketlist.date_created  | amCalendar}}</time><br/>
                    <time>Date Modified: {{bucketlist.date_modified  | amCalendar}}</time>
                    <br/>
                    <p>Finished: {{item.done}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <form class="col s12" id="item_edit" ng-submit="editItem(single_item.id, BucketlistItem.id)">
            <div class="modal-content">
                <div class="row">
                    <h5 class="center">Edit Bucketlist</h5>
                    <div class="col s12">
                        <input type="text" required placeholder="{{single_item.name}}" ng-model="itemedit.name" class="validate col s12">
                        <input type="checkbox" id="finished" ng-model="itemedit.done" />
                        <label for="finished">Finished</label>
                        <button class="btn blue darken-3 right" type="submit">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
