<div class="row">
    <nav>
        <div class="nav-wrapper blue darken-3">
            <div class="col m12 s12">
            <a ui-sref="dashboard" class="brand-logo left">Bucket List</a>
            </div>
            <div class="col m12 s12">
            <ul id="nav-mobile" class="right">
                <li>Welcome {{ username }}</li>
                <li><a ui-sref="logout">Logout</a></li>
            </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <form id="bucket_form" ng-submit="createBucketItem(
                                        {
                                            name: newitem.name, 
                                            bucketlist:BucketlistItem.id,
                                            bid:BucketlistItem.id
                                        })">
                                <div class="row">
                                    <h5 class="center"> {{BucketlistItem.name}} </h5>
                                    <div class="col s12">
                                        <input type="text" required placeholder="Bucketlist Item name" ng-model="newitem.name" class="col m8 s8">
                                        <button class="btn blue darken-3 col m4 s4" type="submit">
                                            Add Item
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li class="collection-item" ng-repeat="item in BucketlistItem.items | orderBy:'done'">
                            <div class="col s11">
                                <div class="col s12">
                                    <span class="left">
                                    <input type="checkbox" id="{{ item.id }}" ng-model="item.done" ng-change="toggleCompleted(item, item.id, BucketlistItem.id)"/> 
                                    <label for="{{ item.id }}"></label>
                                </span>
                                    <a class="center title">
                                    {{ item.name }}
                                </a>
                                </div>
                                <div class="col s12">
                                    <time>Date Created: {{item.date_created | amCalendar}}</time>
                                    <time>Date Modified: {{item.date_modified | amCalendar}}</time>
                                </div>
                            </div>
                            <div class="col s1">
                                <a ng-click="openItemModal(BucketlistItem.id, item.id)" tooltipped data-position="right" data-delay="50" data-tooltip="Edit Item">
                                    <i class="material-icons">edit</i>
                                </a>
                                <br/>
                                <a ng-click="deleteItem({id:item.id, bid:BucketlistItem.id})" tooltipped data-position="right" data-delay="50" data-tooltip="Delete Item">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <form id="bucket_edit" class="col s12" id="item_edit" ng-submit="editItem(itemedit.id, BucketlistItem.id)">
            <div class="modal-content">
                <div class="row">
                    <h5 class="center">Edit Item</h5>
                    <div class="row">
                        <div class="col s12">
                            <input type="text" required ng-model="itemedit.name" class="validate col s10">
                            <button class="btn blue darken-3 col s2" type="submit">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
