<div class="row">
    <nav>
        <div class="nav-wrapper blue darken-3">
            <div class="col m12 s12">
            <a ui-sref="dashboard" class="brand-logo left">Bucket List</a>
            </div>
            <div class="col m12 s12">
            <ul id="nav-mobile" class="right">
                <li>Welcome {{ username }}</li>
                <li><a ui-sref="logout">Logout</a></li>
            </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="container">
                <h5 class="center">Create New Bucketlist</h5>
                <form id="bucket_form" class="col s12" ng-submit="createBucketlist()">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col s12">
                                    <input type="text" required placeholder="Bucketlist name" ng-model="newbucket.name" class="validate col s10">
                                    <button class="btn col s2" type="submit">
                                        Add
                                    </button>
                                    </input>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col s12 m6 l4" data-ng-repeat="bucketlist in Bucketlists">
            <div class="card">
                <div class="card-content">
                    <h4><a ui-sref="viewBucket({id:bucketlist.id})" class="card-title">
                        {{ bucketlist.name }}</a>
                    </h4>
                    <time id="timedisplay">
                    <i class="material-icons"> query_builder</i> {{bucketlist.date_created  | amCalendar}}
                    </time>
                </div>
                <div class="card-action" >
                    <a ui-sref="viewBucket({id:bucketlist.id})" tooltipped data-position="bottom" data-delay="50" data-tooltip="Add Items">
                        <i class="material-icons">add</i>
                    </a>
                    <a ng-click="openModal(bucketlist.id)" tooltipped class="modal-trigger" data-position="bottom" data-delay="50" data-tooltip="Edit BucketList">
                        <i class="material-icons">edit</i>
                    </a>
                    <a ng-click="deleteBucketlist(bucketlist)" tooltipped data-position="bottom" data-delay="50" data-tooltip="Delete BucketList"><i class="material-icons">delete</i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <form id="bucket_edit" class="col s12" ng-submit="updateBucketlist(bucketedit.id)">
            <div class="modal-content">
                <div class="row">
                    <h5 class="center">Edit Bucketlist</h5>
                    <div class="row">
                        <div class="col s12">
                            <input type="text" required ng-model="bucketedit.name" class="validate col s10">
                            <button class="btn col s2" type="submit">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
